{% extends 'base.html' %}

{% block title %}
Books
{% endblock %}

{% block page-title %}
Books in our system ({{books|length}})
{% endblock %}

{% block content %}
<div class="actions">
  <a href="{% url 'crudApp:add-book' %}" class="btn btn-primary">Add Book</a>
  <input type="text" id="searchInput" class="search-input" placeholder="Search books...">
</div>
<table class="book-table" id="bookTable">
  <thead>
    <tr>
      <th>No.</th>
      <th>Book Name</th>
      <th>Author Name</th>
      <th>Year Published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{book.title}}</td>
      <td>{{book.auther}}</td>
      <td>{{book.year_published}}</td>
      <td>
        <a href="{% url 'crudApp:update_book' book.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'crudApp:delete_book' book.id %}" class="btn btn-danger" onclick="return confirmDelete('{{book.title}}')">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}